{{define "title"}}Not Found{{end}}

{{define "body"}}
<section class="py-5"><div class="container text-center">
    <h1 class="display-1">&#128531</h1>
    <p class="lead">Can't Use the Invitation ID</p>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>Probably the Invitation ID is deactivated, used before or does not exist :(</p>
      </div>
    </div><a class="btn btn-primary" href="/">Back to homepage</a>
  </div>
</section>
{{end}}
