{{define "title"}}Admin{{end}}
{{define "body"}}
  {{$total := index . "total"}}
  {{$unused := index . "unused"}}
  {{$used := index . "used"}}
  {{$disable := index . "disable"}}
<section class="py-4"><div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="border rounded p-3">
            <h3>Total Invitation ID</h3>
            <div class="d-flex justify-content-between align-items-center"><img src="/public/placeholder/icons/users.svg" alt="" height="50" width="50"><span class="display-4">{{$total}}</span></div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="border rounded p-3">
            <h3>Unused ID</h3>
            <div class="d-flex justify-content-between align-items-center"><img src="/public/placeholder/icons/folder-o.svg" alt="" height="50" width="50"><span class="display-4">{{$unused}}</span></div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="border rounded p-3">
            <h3>Used ID</h3>
            <div class="d-flex justify-content-between align-items-center"><img src="/public/placeholder/icons/folder-open.svg" alt="" height="50" width="50"><span class="display-4">{{$used}}</span></div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="border rounded p-3">
            <h3>Disabled ID</h3>
            <div class="d-flex justify-content-between align-items-center"><img src="/public/placeholder/icons/file-text-o.svg" alt="" height="50" width="50"><span class="display-4">{{$disable}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card"><img class="card-img" src="/public/images/2-isolated-layout.svg" alt="" height="400" width="400"><div class="card-img-overlay d-flex">
          <div class="my-auto mx-auto text-center"><span class="badge badge-success">Catalyst Experience App (Demo by Mohd Aqib)</span>
{{/*            <p class="my-3">This is to generate the Invitation ID to be used for public</p><a class="btn btn-primary btn-raised" href="/admin/generate">Generate New Invitation ID</a>*/}}
            <p class="my-3">Click Here to see all Generated Invitation ID</p><a class="btn btn-secondary btn-raised" href="/admin/allids">Invitations ID table</a>
            <p class="my-3">Click here to disable any Invitation ID</p><a class="btn btn-danger btn-raised" href="/admin/disable">Disable Invitation ID</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

  <section class="py-5"><div class="container">
      <div class="row">
        <div class="col-md-6 my-auto">
          <h1 class="display-4 mb-3">Generate the Invitation ID</h1>
          <p class="lead text-muted mb-4">Generate Invitation ID (type number between 6 to 12 for the length)</p>
          <div class="form-row mb-4">
            <div class="col-md-11 col-lg-7">
              <div class="input-group">
                <form action="/admin/generate" method="post" id="formval"><label class="sr-only" for="input1-headers-15">Length of Invitation ID (6 - 12)</label>
                  <input class="form-control" id="input1-headers-15" type="text" name="length" placeholder="Invitation ID" required="required"></form>
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-raised" form="formval" value="Submit">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-auto"><img class="img-fluid" src="/public/images/2-isolated-layout.svg" alt=""></div>
      </div>
    </div>
  </section>



{{end}}