{{define "title"}}Admin SignIn{{end}}
{{define "body"}}
      <section><div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 col-lg-4">
                <form action="/admin" method="post" id="formad">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="input1-signin-01">Admin Username</label>
                        <input class="form-control" id="input1-signin-01" type="text" name="user" required></div>
                    <div class="form-group">
                        <label class="bmd-label-floating" for="input2-signin-01">Password</label>
                        <input class="form-control" id="input2-signin-01" type="password" name="password" required></div>
                </form>
              <button type="submit" form="formad" class="btn btn-primary btn-block btn-raised py-2 my-3">Login</button>
            </div>
          </div>
        </div>
      </section>
{{end}}