{{define "title"}}Invitation IDs{{end}}
{{define "body"}}
    {{$invitations := index . "invitations"}}
      <section class="py-5"><div class="container">
          <div class="d-flex flex-column flex-sm-row justify-content-between mb-4 text-center text-sm-left">
            <h3>Invitation IDs</h3>
{{/*            <ul class="nav nav-pills flex-column flex-sm-row" id="tab-features-12" role="tablist"><li class="nav-item"><a class="nav-link active" id="link1-features-12" href="#tab1-features-12" data-toggle="tab" role="tab" aria-selected="true">Tab one</a></li>*/}}
{{/*              <li class="nav-item"><a class="nav-link" id="link2-features-12" href="#tab2-features-12" data-toggle="tab" role="tab">Tab two</a></li>*/}}
{{/*              <li class="nav-item"><a class="nav-link" id="link3-features-12" href="#tab3-features-12" data-toggle="tab" role="tab">Tab three</a></li>*/}}
{{/*            </ul>*/}}
          </div>
          <div class="tab-content" id="tabContent-features-12">
            <div class="table-responsive tab-pane fade show active" id="tab1-features-12" role="tabpanel" aria-labelledby="link1-features-12">
              {{if $invitations}}
                <table class="table table-striped table-borderless"
                     id="table"
                     data-toggle="table"
                     data-page-list="[10, 25, 50, 100, all]"
                     data-table-striped="true"
                     data-table-borderless="true"
                     data-pagination="true"
                     data-search="true"
                     data-show-search-clear-button="true"
                     data-show-toggle="true"
                     data-show-columns="true"><thead><tr class="text-muted"><th scope="col" data-sortable="true" class="border-top-0">Invitations IDs</th>
                    <th scope="col" data-sortable="true" class="border-top-0">Time Created</th>
                    <th scope="col" data-sortable="true" class="border-top-0">Time Expired</th>
                      <th scope="col" data-sortable="true" class="border-top-0">Used?</th>
                      <th scope="col" data-sortable="true" class="border-top-0">Status</th>
                  </tr></thead>
                  <tbody>
                  {{range $index, $element := $invitations}}
                  <tr>
                    <td scope="row">{{$element.InvitationString}}</td>
                    <td scope="row">{{humanDate $element.TimeCreated}}</td>
                    <td scope="row">{{humanDate $element.TimeExpired}}</td>
                      <td scope="row">{{if eq $element.IsUsed true}}Used{{else if eq $element.IsUsed false}}Haven't Used{{end}}</td>
                      <td scope="row">{{if eq $element.IsActive true}}Active{{else if eq $element.IsActive false}}Disabled{{end}}</td>
                  </tr>
                  {{end}}
                  </tbody></table>
                {{else}}
                  <h3>There's Nothing to see yet here</h3>
                {{end}}
                </div>
          </div>
        </div>
      </section>

{{end}}