{{define "title"}}Contact Me!{{end}}
{{define "body"}}
      <section class="py-5"><h2 class="mb-5 text-center">Contact Me</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-3 mb-md-0"><img class="img-fluid" src="/public/images/1-default-monochrome.svg" alt=""></div>
            <div class="col-md-6">
              <h5>Feel free to contact me anytime!</h5>
              <p class="mb-5 text-secondary">I'm always here to answer any question regarding this demo</p>
              <div>
                <div class="d-flex"><img class="mb-3 mr-3" src="/public/placeholder/icons/map-marker.svg" alt=""><p class="text-secondary">The Haute Gurney KL, No. 3, Jalan Bukit Keramat, Kampung Datuk Keramat, 54000 Kuala Lumpur, Federal Territory of Kuala Lumpur</p>
                </div>
                <div class="d-flex"><img class="mb-3 mr-3" src="/public/placeholder/icons/envelope.svg" alt=""><p class="text-secondary">mohdaqib93@yahoo.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{{end}}