{{define "title"}}Generate ID{{end}}
{{define "body"}}
    {{$invitation := index . "invitation"}}
<section class="py-5"><div class="container text-center"><strong>Generated Invitation ID</strong>
    <h3 class="display-4 my-3">Invitation ID: {{$invitation.InvitationString}}</h3>
    <h3 class="display-4 my-3">Created On: {{humanDate $invitation.TimeCreated}}</h3>
    <h3 class="display-4 my-3">ExpiryDate: {{humanDate $invitation.TimeExpired}}</h3>
    <h3 class="display-4 my-3">Available? {{if eq $invitation.IsUsed true}}Used{{else if eq $invitation.IsUsed false}}Not Used{{end}}</h3>
    <h3 class="display-4 my-3">Status: {{if eq $invitation.IsActive true}}Active{{else if eq $invitation.IsActive false}}Disable{{end}}</h3>

        <a class="btn btn-primary btn-raised mt-2" href="/admin/profile">Profile Page</a>
  </div>
</section>

{{end}}