{{define "title"}}Home Page{{end}}

{{define "body"}}
<section class="jumbotron"><div class="container text-center">
        <h1 class="display-4">Catalyst Experience App</h1>
        <p class="lead text-muted">This is a demo app for Pulse ID interview from Mohd Aqib</p><a class="btn btn-primary btn-raised mt-2 mr-2" href="/admin">Admin</a><a class="btn btn-default mt-2" href="/validate">Validate</a>
    </div>
</section>
{{end}}