{{define "base"}}
<!DOCTYPE html>
<html lang="en">
{{$flashes := index . "flashes"}}
  <head>
    <title>Mohd Aqib - {{template "title" .}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
    <link rel="icon" href="/public/favicon.ico">
    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
                
      {{template "navbar" .}}
      {{with $flashes}}
        <div class='flash'>
          <div class="alert alert-dismissible alert-warning"> <p class="mb-0">{{.}}</p></div>
        </div>
      {{end}}
      {{template  "body" .}}

      {{template "footer" .}}
                

    </div>
    <script src="/public/js/jquery/jquery.min.js"></script>
    <script src="/public/js/popper/popper.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap-material-design.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script>
        $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
    </script>
  </body>
</html>
{{end}}

{{template "base" .}}

{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand col-4 pl-0 mr-0" href="/"><img src="/public/images/1-default-monochrome.svg" alt="Catalyst Experience App" width="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-09"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse justify-content-md-center col-8 px-0" id="navigations-09">
    <ul class="navbar-nav col-6 justify-content-center"><li class="nav-item"><a class="nav-link active" href="/admin">Admin</a></li>
      <li class="nav-item"><a class="nav-link" href="/validate">Validate</a></li>
      <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
    </ul><div class="col-6 text-lg-right px-0"><a class="btn btn-outline-primary mt-2 mt-lg-0 mr-0" href="/useid">Use Invitation ID!</a></div>
  </div>
</nav>
{{end}}

{{define "footer"}}
<footer class="py-3"><div class="container">
    <div class="justify-content-between d-flex flex-column flex-lg-row align-items-center">
      <h5 class="mb-0"><a href="/">Catalyst Experience App</a></h5>
      <ul class="nav justify-content-center my-2 my-lg-0"><li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/validate">Validate</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
        <li class="nav-item"><a class="nav-link" href="/useid">Use Invitation ID</a></li>
      </ul><p class="mb-0 small text-center text-sm-right">&copy; 2019 Mohd Aqib. All right reserved.</p>
    </div>
  </div>
</footer>
{{end}}


