{{define "title"}}Use Invitation ID{{end}}
{{define "body"}}
      <section><div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 col-lg-4">
              <div class="form-group">
                <form action="/login" method="post" id="form1"><label class="bmd-label-floating" for="input1-signin-01">Invitation ID</label>
                      <input class="form-control" id="input1-signin-01" name="invString" type="text"></form>
              </div>
              <button type="submit" form="form1" class="btn btn-primary btn-block btn-raised py-2 my-3">Login With Invitation ID</button>
{{/*                <a href="/request">Dont Have invitation ID?</a>*/}}
            </div>
          </div>
        </div>
      </section>
{{end}}
