{{define "title"}}Successful{{end}}
{{define "body"}}
    {{$invitation := index . "invitation"}}
      <section class="py-5"><div class="container text-center"><strong>Catalyst Experience App</strong>
              <h2 class="display-4 my-3">Successfully Used the Invitation ID: {{$invitation.InvitationString}}</h2>

              <a class="btn btn-primary btn-raised mt-2" href="/">Back</a>
        </div>
      </section>
{{end}}