{{define "title"}}Validate{{end}}
{{define "body"}}
      <section class="py-5"><div class="container">
          <div class="row">
            <div class="col-md-6 my-auto">
              <h1 class="display-4 mb-3">Validate the Invitation ID</h1>
              <p class="lead text-muted mb-4">This is to check and validate the Invitation ID</p>
              <div class="form-row mb-4">
                <div class="col-md-11 col-lg-7">
                  <div class="input-group">
                    <form action="/validate" method="post" id="formval"><label class="sr-only" for="input1-headers-15">Your Invitation ID</label>
                      <input class="form-control" id="input1-headers-15" type="text" name="invString" placeholder="Invitation ID" required="required"></form>
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary btn-raised" form="formval" value="Submit">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-auto"><img class="img-fluid" src="/public/images/2-isolated-layout.svg" alt=""></div>
          </div>
        </div>
      </section>
{{end}}